div.media-card {
	display: flex;
	align-items: center;
	width: 483px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

div.media-image {
	width: 185px;
}

div.media-info {
	width: 298px;
	height: 278px;
	position: relative;
	box-sizing: border-box;
	padding: 10px 16px 16px 16px;
	overflow: hidden;
}

p.view_more {
	border-top: 1px solid #e3e3e3;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 16px;
	width: 100%;
}

.percent-circle {
	width: 2.5em;
	display: inline-block;
}

div.media-title {
	display: inline-block;
	padding-left: 1.5em;
}

div.media-content {
	margin-top: 2em;
}
