.description {
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	padding-left: 15px;
	/* padding-bottom: 10px; */
}

.sticker-cast {
	padding-left: 15px;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
}

.no-space {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.sticker {
	display: inline-block;
	background-size: cover;
	margin-bottom: -6px;
}

.main-sticker {
	width: 492px;
	height: 277px;
}

.sticker-left {
	width: 246px;
	height: 140px;
}

.sticker-right {
	position: absolute;
	width: 246px;
	height: 140px;
}
